<!DOCTYPE html>
<html>
  <head>
    <title>Price Calculator</title>
  </head>
  <body>
    <form action="/operation" method="POST">
      <table>
        <tr>
          <th>Item</th>
          <th>Cost</th>
        </tr>
        <tr>
          <td><input type="text" name="item1"></td>
          <td><input type="text" name="cost1"></td>
        </tr>
        <tr>
          <td><input type="text" name="item2"></td>
          <td><input type="text" name="cost2"></td>
        </tr>
        <tr>
          <td><input type="text" name="item3"></td>
          <td><input type="text" name="cost3"></td>
        </tr>
        <tr>
          <td><input type="text" name="item4"></td>
          <td><input type="text" name="cost4"></td>
        </tr>
        <tr>
          <td><input type="text" name="item5"></td>
          <td><input type="text" name="cost5"></td>
        </tr>
        <tr>
            <td><input type="text" name="item6"></td>
            <td><input type="text" name="cost6"></td>
        </tr>
      </table>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>